
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
#value {
    font-size: 24px;
    margin-top: 20px;
}